section.service-3#s3
    .container.flex.flex--center
      .col-5.flex.flex--center
        .col-22
        
          h2 SHIPPING LAW
          
          p International shipping currently represents 90% of world trade by volume and 80% by value.   It is therefore clear that the legal basis of the trade is  also  of extreme importance and  our firm has therefore focused on this area of law as one of the main areas of our practice.   In this regard we offer our clients specialist knowledge and expertise in the following areas:
          
          p -	contracts of affreightment,  charterparties
          p -	memoranda of sale
          p -	ship sale and purchase
          p -	bareboat charters
          p -	ship registration
          p -	ship arrests and injunctions
          p -	cargo claims

          p Please contact us  if you require our services in this area

          
        .col-0
          .pic


        
