section.home-home.flex--column.flex--center
  .hover-space
  .flex.flex--center
    .col-3.home-title
      h1.home-text ANTHONY OGUNFEIBO & CO. 
      
      p.home-description International Commercial Law Firm
