section.contact#contact_us
  .contact-div
    .col-5.flex.flex--center
        h2 CONTACT
      
    .flex.flex--center
      #form-main
        #form-div                        
            form#form1.form(action='http://formspree.io/kitan.ogunfeibo@gmail.com', method='POST')
              p.name
                input#title.feedback-input(name='title', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', placeholder='Title')
              
              p.first
                input#first-name.feedback-input(name='first', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', placeholder='First')
                
              p.surname
                input#surname.feedback-input(name='last', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', placeholder='Surname')
                
             
              p.email
                input#email.feedback-input(name='email', type='text', class='validate[required,custom[email]]', placeholder='Email')
                
              p.telephone
                input#telephone.feedback-input(name='telephone', type='text', class='validate[required,custom[email]]', placeholder='Telephone')
   
              p.text
                textarea#message.feedback-input(name='text', type='text' class='validate[required,length[6,300]]', placeholder='Your Message')
 
 
 
              .submit
                input#button-blue(type='submit', value='SEND')
    
                .ease



  .home-cta.flex.flex--center
    .return-top
      a(href="#home" style="background-image: url(/assets/img/arrowb.svg)") Return To Top
