mixin return-cta()
  .home-cta.flex.flex--center
    .return-top
      a(href="#home" style="background-image: url(/assets/img/arrowb.svg)") Return To Top
  

section.about#about
  .flex.flex--center
    .col-22.about-sec
      h2 ABOUT US
      
      .home-lead 
        p Anthony Ogunfeibo & Co. is an international commercial law firm in London that provides a range of legal services to clients across the world. 
        
        p Our expert lawyers have experience and skill in providing our clients with innovative and performance driven solutions in all our areas of work, including; 
        
          p.bold-text <b> Drafting & advisory work on  international commercial agreements,  joint ventures, shipping law and due diligence on companies & businesses in  the growing frontier markets of Sub Saharan Africa</b>. 
        
        p Our highly experienced litigation lawyers can also offer advice and representation to clients in proceeding before International Arbitration Tribunals. 
        
        p.about-cta Please use our #[a(href="#contact_us") contact] form to provide us with details of your request for any one of our services. 
        
  + return-cta
   
