mixin nav-content()
  ul
    li: a(href="/index.html").sh HOME
    li: a(href="#s1") ASSET TRACING & RECOVERY
    li: a(href="#s2") DRAFTING & ADVISING
    li: a(href="#s3") CORPORATE IMMIGRATION
    li: a(href="#s4") DUE DILIGENCE 
    li: a(href="#s5") INTERNATIONAL REPRESENTATION



header.header
  .hover-position
    .ser-position
      nav.ser-nav
        +nav-content()
      
      .mobile-nav-toggle: span

.mobile-nav
  +nav-content()
