.home-wrap

  .hover-position
    height: 50px
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: none
    z-index: 1

  header
    height: 50px
    padding: 5px 0 0 0
    background: white

    /*flexbox code

    .header-position
      top: 0
      left: 0
      bottom: 0
      right: 0
      height: 60px
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      position: relative
      background: white

    .site-nav
      ul
        display: flex
        flex-direction: row
        justify-content: center
        list-style: none
        margin: 0
        padding: 0
        text-align: center


      li
        margin-right: 70px
        transition: 0.1s ease-in-out


        &:last-child
          margin-right: 0


        &:hover
          transform: scale(1.02)

        a
          color: #3f3f42
          margin: 0
          padding: 5px
          font-size: 14px
          font:
            family: 'Lato'
            weight: 400
          letter-spacing: 2px

        &:hover
          color: $accent-colour



  .mobile-nav-toggle
    display: none
    width: 25px
    height: 50px
    margin: 0 20px
    align-items: center
    cursor: pointer

    span,
    span:before,
    span:after
      content: ""
      display: block
      height: 2px
      width: 100%
      background: #333
      position: relative
      border-radius: 2px

      transition: all 0.3s ease-in-out

    span:before
      top: 10px

    span:after
      top: -12px

    &.is-open span
      background: transparent

    &.is-open span:before,
    &.is-open span:after
      transform-origin: center
      transform: rotate(45deg)
      top: 0

    &.is-open span:before
        transform-origin: center
        transform: rotate(-45deg)
        top: 1px

  // Mobile Nav
  .mobile-nav
    display: none
    position: fixed
    width: 100%
    background: white
    padding: 30px 0
    transform: translateY(-100%)
    transition: all 0.3s ease-in-out

    ul
      list-style: none
      margin: 0
      padding: 0

    li
      text-align: center
      margin-bottom: 10px

    a
      color: #3f3f42
      margin: 0
      padding: 5px
      font-size: 14px
      font:
        family: 'Lato'
        weight: 400
      letter-spacing: 2px

      &:hover
        color: $accent-colour


@media (max-width: 1080px)
  .home-wrap
    header
      width: auto
      padding: 0

      .header-position
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        flex-direction: row
        align-items: center
        justify-content: flex-start
        z-index: 1

        .logo
          display: none

      .site-nav
        display: none

      .mobile-nav-toggle
        display: flex

    .header-position.is-open
      position: fixed
      background:
        color: white

    .mobile-nav.is-open
      display: block
      position: fixed
      transform: translateY(0%)
      transition: 0.3s ease-in-out
